.display {
  height: 500px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(227 159 58);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");

}

@media only screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
  }

  .display {
    height: 325px;
    width: 400px;
    margin-left: 10px;
  }

  .display img {
    height: 160px;
    width: 180px;
  }
}