.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: bolder;
}

textarea {
  appearance: none;
  display: flex;
  align-self: flex-end;
  height: 30px;
  width: 100%;
  background-color: inherit;
  border: none;
  font-size: .69em;
  border-bottom: .2em solid black;
  resize: none;
}

#error {
  display: none;
  padding: 5px 10px;
  margin: 20px 5vw;
  background-color: #fce4e4;
  border: 3px solid #fcc2c3;
  color: #ef0f47;
  font-weight: bold;
  width: max-content;
  height: max-content;
  font-size: 2vw;

}

button {
  margin-top: .5em;
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
}

.tweet-count {
  display: flex;
  justify-content: space-between;

}

output {
  font-family: 'Bungee', sans-serif;
}