.tweets {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  margin-top: 5%;
  justify-content: space-evenly;
  border-style: solid;
  border-width: .2em;
  padding: 1%;
  cursor: pointer;
}

.tweets:hover {
  box-shadow: 10px 5px 5px rgb(175 167 167);
}

.header-tweets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%;
  margin: 2%;
}

#av-and-name {
  display: flex;
  flex-direction: row;
}

.header-tweets img {
  margin-right: 30px;
}

article {
  display: flex;
  flex-flow: wrap ;
  margin-left: 4%;
  margin-right: 4%;
  font-weight: bold;
  overflow-wrap: anywhere;
  align-items: flex-end;
  font-size: 80%;
}


hr {
  width: 98%;
  background-color: black;
  border-style: solid;
  border-width: .1em;
}

#name {
  display: flex;
  align-self: flex-start;
}

#handle {
  color: rgb(191, 208, 208);
}

i:hover {
  color: #f36435
}